<footer class="footer mt-auto py-3 bg-light text-muted">
    <div class="container">
        <p>
            <img style="filter: grayscale(100%) opacity(50%);" class="d-inline-block" height="24" src="assets/branding/logo.png"> v{{ site.version }}
        </p>

        <p>This site uses cookies, however no personal information is collected. <a href="cookies">More info.</a></p>

        <p>
            © 2021 Aardvark Industries (<a href="https://github.com/Pr0x1mas">Pr0x1mas</a>/<a href="https://github.com/TheGooseLord">TheGooseLord</a>)
        </p>
    </div>
</footer>