<style>
    @media only screen and (min-width: 992px) {
        #navbarButtonForm {
            position: absolute; 
            right: 0px;
        }
    }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/GitForum/">
            <img class="d-inline-block align-text-top" height="24" src="assets/branding/logo.png">
        </a>

        <form id="navbarButtonForm" class="d-flex ms-auto">
            <div id="user-dropdown" style="height: 38px; display: none;" class="dropdown me-2">
                <input alt=" " onerror="this.src='assets/placeHolderAvatar.png'" class="rounded" id="userButton" role="button" data-bs-toggle="dropdown" style="height: 100%;" aria-expanded="false" type="image">

                <ul class="dropdown-menu" aria-labelledby="userBurron">
                    <li>
                        <a id="profile-page-link" class="dropdown-item" href="/GitForum/profile">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a id="logout-button" class="dropdown-item" href="">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

            <a id="loginButton" class="me-2" href="login"><button type="button" class="btn btn-primary"><i class="bi bi-door-open-fill"></i><span class="d-md-none d-sm-none d-none d-lg-inline-block">Login</span></button></a>

            <a id="newPostButton" class="me-2" href="newPost" style="display: none"><button type="button" class="btn btn-primary"><i class="bi bi-plus-lg"></i> <span class="d-md-none d-sm-none d-none d-lg-inline-block">New Post</span></button></a>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navLinkContainer" class="navbar-nav mr-auto">
            </ul>
        </div>


    </div>
</nav>

<script type="module">
    import {removeTokenCookie} from '/{{ site.repo }}/modules/cookies.js';

    document.getElementById("loginButton").href = "/{{ site.repo }}/login?ref=" + window.location.href;

    document.getElementById("logout-button").onclick = (() => {removeTokenCookie()});
</script>